.button {
  background: linear-gradient(#9198e6, #e66465);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  padding: $s-size;
  border-radius: 15px;
}

.button span {
  font-size: 1.2rem;
}

.button__logOut {
  // background: linear-gradient(#9198e6, #e66465);
  color: pueple;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 15px;
}

.button__logOut:hover {
  background: fade-out(rgb(228, 225, 36), 0.35);
}

.button__add {
  background: $redToPurple;
  color: purple;
  padding: 10px;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 10%;
  border: 1px dotted purple;
}

.button__add:hover {
  background: linear-gradient(#42f492, #f4d941);
}
