.content-container {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 80rem;
}

.content-container__filter {
  background: linear-gradient(#e0f0fd, white);
  //border: 1px inset purple;
  padding: 1px 5rem;
}

.content-container__form {
  @extend .content-container;
  margin: 4rem 0;
}
