.summary-header {
  background: linear-gradient(#66ff99, #cc66ff);
  margin-button: $s-size;
  display: flex;
  justify-content: space-between;
}

.summary-header__title {
  font-weight: 300;
  font-size: 150%;
  margin-top: 40px;
  span {
    font-weight: bold;
    background: rgb(94, 91, 91);
    border-radius: 10px;
    color: #ffbf00;
    padding: 5px 5px;
  }
}

.summary-header__add {
  margin: 20px;
}
